---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Testimonios from '../components/Testimonios.astro';
import Premium from '../components/Premium.astro';
import NewsLetter from '../components/NewsLetter.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="ForeverBodas">
	<Header />
	<main>
		<Hero/>
		<Features/>
		<Testimonios/>
		<NewsLetter/>
		<Premium/>
		<FAQ/>
		<Footer/>
	</main>
</Layout>

<style>
</style>
