<div class="w-[1200px] text-center mx-auto mt-24">
    <section class="w-[800px] mx-auto mb-12">
        <h2 class="text-3xl font-playfair text-[#486284] font-bold">Todo lo que necesitas para organizar tu boda, en un solo lugar.</h2>
    </section>
    <div class="mt-10 grid grid-cols-2 gap-y-14 text-gray-600">
        <section class="flex w-[400px] text-start gap-7 h-48 p-4 shadow-lg">
                <div class="self-center">Icon</div>
                <section class="space-y-2">
                    <h3 class="font-bold text-xl">Gestión de invitados</h3>
                    <p>Organiza y centraliza toda tu lista de invitados en un solo lugar y mantén todo bajo control de manera fácil y eficiente.</p>
                </section>
        </section>
        <section class="flex w-[400px] text-start gap-7 h-48 p-4 shadow-lg">
                <div class="self-center">Icon</div>
                <section class="space-y-2">
                    <h3 class="font-bold text-xl">Recibe Confirmaciones en Tiempo Real</h3>
                    <p>Mantente al tanto de quiénes han confirmado su asistencia.</p>
                </section>
        </section>
        <section class="flex w-[400px] text-start gap-7 h-48 p-4 shadow-lg">
                <div class="self-center">Icon</div>
                <section class="space-y-2">
                    <h3 class="font-bold text-xl">Personaliza</h3>
                    <p>Añade con facilidad los detalles más importantes de tu boda</p>
                </section>
        </section>
        <section class="flex w-[400px] text-start gap-7 h-48 p-4 shadow-lg">
                <div class="self-center">Icon</div>
                <section class="space-y-2">
                    <h3 class="font-bold text-xl">Herramientas de Diseño Integradas</h3>
                    <p>Diseña sin esfuerzo, incluso sin ser un experto.</p>
                </section>
        </section>
    </div>
</div>