---

---

<header class="bg-white p-2 border-b-2 border-b-slate-100">
    <div class="container mx-auto max-w-screen-xl flex justify-between items-center">
      <!-- Left side buttons -->
      <div class="flex space-x-8 w-1/4 justify-start">
        <a href="#" class="text-gray-700 hover:text-gray-900">Inicio</a>
        <a href="#" class="text-gray-700 hover:text-gray-900">Invitación Digital</a>
        <a href="#" class="text-gray-700 hover:text-gray-900">News Letter</a>
      </div>

      <!-- Center image simulation -->
      <div class="flex-1 mx-4 justify-center">
        <img src="/img/icono.png" class="w-16 h-16 mx-auto"/>
      </div>

      <!-- Right side buttons -->
      <div class="flex space-x-8 w-1/4 justify-end">
        <button class="text-gray-700 hover:text-gray-900">Iniciar sesión</button>
        <button class="text-white bg-primary px-6 py-2 rounded-full">Regístrate</button>
      </div>
    </div>
  </header>