---

---

<header class="bg-white p-2 border-b-2 border-b-slate-100">
    <div class="container mx-auto max-w-screen-xl flex justify-between items-center">
      <!-- Left side buttons -->
      <div class="flex space-x-8 w-1/4 justify-start">
        <a href="#features" class="text-gray-700 hover:text-gray-900">Features</a>
        <a href="#testimonios" class="text-gray-700 hover:text-gray-900">Testimonios</a>
        <a href="#news-letter" class="text-gray-700 hover:text-gray-900">News Letter</a>
      </div>

      <!-- Center image simulation -->
      <div class="flex-1 mx-4 justify-center">
        <img src="/img/icono.png" class="w-16 h-16 mx-auto"/>
      </div>

      <!-- Right side buttons -->
      <div class="flex space-x-8 w-1/4 justify-end items-center">
        <a href="https://4everbodas.netlify.app/inicio-sesion" target="_blank" class="text-gray-700 hover:text-gray-900">Iniciar sesión</a>
        <a href="https://4everbodas.netlify.app/registro" target="_blank" class="text-white bg-primary px-6 py-2 rounded-full">Regístrate</a>
      </div>
    </div>
  </header>