<div class="py-8">
    <section class="flex justify-center items-center my-4">
        <div class="max-w-screen-xl mx-auto flex justify-center items-center space-x-4">
            <img src="/img/hero1.png" alt="Hero Image 1" class="w-1/5 h-auto transform translate-y-0" />
    <img src="/img/hero2.png" alt="Hero Image 2" class="w-1/5 h-auto transform translate-y-12" />
    <img src="/img/hero3.png" alt="Hero Image 3" class="w-1/5 h-auto transform translate-y-0" />
    <img src="/img/hero4.png" alt="Hero Image 4" class="w-1/5 h-auto transform translate-y-12" />
    <img src="/img/hero5.png" alt="Hero Image 5" class="w-1/5 h-auto transform translate-y-0" />
</div>
</section>
<section class="w-[500px] text-center space-y-5 mt-20 mx-auto border-b-2 border-b-pink-300 pb-4">
    <h1 class="font-playfair text-6xl text-primary">Forever Bodas</h1>
    <p>Crea invitaciones digitales únicas, gestiona a tus invitados con facilidad, y celebra tu amor sin complicaciones. Todo lo que necesitas, en un solo lugar. </p>
    <div class="space-x-5">
        <a  href="https://4everbodas.netlify.app/registro" target="_blank" class="bg-primary px-4 py-2 rounded-full text-white">
            Regístrate
        </a>
       <!--  <a href="" class="px-4 py-2 rounded-full text-secondary border-secondary border-[1px]">
            Contáctanos
        </a> -->
    </di>
</section>
</div>