<div class="text-center mt-28 w-[1200px] mx-auto">
    <section class="w-[800px] mx-auto">
        <h2 class="text-3xl mb-3 font-playfair text-secondary font-bold">Preferido Por Muchas Parejas Felices</h2>
        <p>Sé una pareja moderna y organiza tu boda con el poder de la tecnología</p>
    </section>
    <ul class="flex flex-row justify-between mt-16 px-6">
        <li class="w-[550px] py-6 px-16 flex items-center gap-5 rounded-md border-[1px] border-primary relative">
            <div class="w-2 h-20 absolute rounded-full left-0 top-1/2 transform -translate-y-1/2 -translate-x-1/2 bg-primary"></div>
            <div class="w-2 h-20 absolute rounded-full right-0 top-1/2 transform -translate-y-1/2 translate-x-1/2 bg-primary"></div>
            <img src="/img/testigo1.png" alt="Testimonio 1" />
            <section class="text-start text-secondary space-y-4">
                <div>
                    <h3 class="text-primary font-semibold text-xl">Ale y Uziel</h3>
                    <p>Monterrey, México</p>
                </div>
                <p>Oye, 4Everbodas está de poca. La neta, me facilitó un chorro la vida con las invitaciones y el seguimiento de las confirmaciones. Todo en un solo lugar y sin broncas.</p>
                <button class="px-6 py-2 text-primary border-[1px] border-primary rounded-full">Registrarte</button>
            </section>
        </li>
        <li class="w-[550px] py-6 px-16 flex items-center gap-5 rounded-md border-[1px] border-primary relative">
            <div class="w-2 h-20 absolute rounded-full left-0 top-1/2 transform -translate-y-1/2 -translate-x-1/2 bg-primary"></div>
            <div class="w-2 h-20 absolute rounded-full right-0 top-1/2 transform -translate-y-1/2 translate-x-1/2 bg-primary"></div>
            <img src="/img/testigo2.png" alt="Testimonio 1" />
            <section class="text-start text-secondary space-y-4">
                <div>
                    <h3 class="text-primary font-semibold text-xl">Leónidas y Grace </h3>
                    <p>Chimbote, Perú</p>
                </div>
                <p>4Everbodas nos facilitó un montón la chamba con la lista de invitados. Pudimos enviar invitaciones digitales al toque y ver quién confirmaba sin estrés</p>
                <button class="px-6 py-2 text-primary border-[1px] border-primary rounded-full">Registrarte</button>
            </section>
        </li>
    </ul>
</div>